<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron mb-0" >
                <h1 class="display-4">Novo Pedido</h1>
            </div>
        </div>

        <div class="card mt-3">
            <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="post">
                <div class="form-group">
                    <label for="nomeProduto">Produto</label>
                    <input th:field="*{nomeProduto}" class="form-control" placeholder="Nome do produto"/>
                    <small>Informe o nome do produto.</small>
                </div>
                <div class="form-group">
                    <label for="urlProduto">Url</label>
                    <input th:field="*{urlProduto}" class="form-control" placeholder="Url do produto"/>
                    <small>Busque em um site o produto que desejar e cole aqui.</small>
                </div>
                <div class="form-group">
                    <label for="urlImagem">Imagem</label>
                    <input th:field="*{urlImagem}" class="form-control" placeholder="Url da imagem"/>
                    <small>Busque em um site uma boa imagem do produto que desejar e cole aqui.</small>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" name="descricao" placeholder="Adiciona detalhes sobre o produto"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>

    </body>
</html>